body { 
  background-color: #114; 
  color: #eaa; 
  font-family: sans-serif; 
  margin: 5% 10%;
  border-top: 1px solid;
  border-bottom: 1px solid;
  }

.name { 
  border-radius: 42px;
  border: 4px solid ; 
  margin-left: 20%;
  margin-right: 20%;
  text-align: center; 
  background: #eaa;
  color: #114;
  font-size: 19px; }
   
}

.skill {border-bottom: 1px dotted}

.school {border-bottom: 1px dotted}

.work {border-bottom: 1px dotted}


.skills {outline-style: dotted; margin-left: 92px; margin-right: 222px}

.schools {outline-style: dotted; margin-left: 143px; margin-right: 331px}

.works {outline-style: dotted; margin-left: 104px; margin-right: 257px}

.content {

