body { 
  background-color: #114; 
  color: #eaa; 
  font-family: sans-serif; 
  margin: 32px;
}

.name { 
  border-radius: 42px;
  width: 285px;
  border: 4px solid ; 
  padding: px;
  margin-left: 105px;
  background: #eaa;
  color: #114;
  font-size: 19px; }

.content{
  margin-left: 55px
   
}

.skill {outline-style: dotted; margin-left: 92px; margin-right: 222px}

.school {outline-style: dotted; margin-left: 143px; margin-right: 331px}

.work {outline-style: dotted; margin-left: 104px; margin-right: 257px}
